name: Windows Python Development Kit

on:
  workflow_dispatch:

jobs:
  package-python-dev:
    runs-on: ${{ 'windows-latest' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Download all Python versions using uv
        shell: pwsh
        run: |
          python -V
          python .github/scripts/uv_download.py

      - name: Run packaging script
        run: python .github/scripts/package_python.py

      - name: Upload x86_64 artifacts
        uses: actions/upload-artifact@v6
        with:
          name: python-windows-x86_64
          path: dist/x86_64/
          overwrite: true

      - name: Upload x86 artifacts
        uses: actions/upload-artifact@v6
        with:
          name: python-windows-x86
          path: dist/x86/
          overwrite: true

      - name: Upload aarch64 artifacts
        uses: actions/upload-artifact@v6
        with:
          name: python-windows-aarch64
          path: dist/aarch64/
          overwrite: true
