name: Windows Python Development Kit

on:
  workflow_dispatch:

jobs:
  package-python-dev:
    strategy:
      matrix:
        arch: [x64, x86, arm64]
    runs-on: ${{ matrix.arch == 'arm64' && 'windows-11-arm' || 'windows-latest' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Download all Python versions using uv
        shell: pwsh
        run: |
          python -V
          python .github/scripts/package_python.py

      - name: Run packaging script
        run: python .github/scripts/package_python.py

      - name: Upload dev archive
        uses: actions/upload-artifact@v4
        with:
          name: python-windows-${{ matrix.arch }}
          path: dist/*
          overwrite: true
